<div id="dynamicFooter" class="black container-fluid">
  <div>
    <div class="row logos">
      <div class="col-xs-6">
        <a href="http://library.uoregon.edu">
          <%= image_tag "uolib_white.gif" %>
        </a>
      </div>
      <div class="col-xs-6">
        <a href="http://library.oregonstate.edu">
          <%= image_tag "osulib_white.gif" %>
        </a>
      </div>
    </div>
    <div class="black row links">
      <div class="col-xs-12 col-md-offset-4 col-md-4">
        <p class="white left">
          <a class="white" href="https://oregondigital.org/contact"> Contact Us </a> | 
          <a class="white" href="https://oregondigital.org/copyright"> Copyrights </a> | 
          <%= link_to "Help", help_path, :class => "white" %> | 
          <%= link_to "About Us", about_index_path, :class => "white"  %>
        </p>
      </div>
    </div>
  </div>
</div>
