<div id="dynamicFooter" class="container-fluid black">
  <a class="pull-left" href="http://library.uoregon.edu">
    <%= image_tag "uolib_white.gif" %>
  </a>
  <a align="center" href="https://oregondigital.org/contact"> Contact Us </a>
  <a class="pull-right" href="http://library.oregonstate.edu">
    <%= image_tag "osulib_white.gif" %>
  </a>
</div>
