<div id="dynamicFooter" class="black container-fluid">
  <div class="container">
    <div class="row">
      <a class="col-md-3 col-sm-6 col-xs-6" href="http://library.uoregon.edu">
        <%= image_tag "uolib_white.gif" %>
      </a>
      <a class="col-md-2 col-sm-6 col-xs-6" href="http://library.oregonstate.edu">
        <%= image_tag "osulib_white.gif" %>
      </a>
    </div>
    <div class="black row">
      <div class="col-xs-12">
        <a class="white" href="https://oregondigital.org/contact"> Contact Us </a>
      </div>
      <div class="col-xs-12">
        <a class="white" href="https://oregondigital.org/copyright"> Copyrights </a>
      </div>
    </div>
  </div>
</div>
