<div id="dynamicFooter" class="black container-fluid">
  <div>
    <div class="row logos">
      <div class="col-xs-6">
        <a href="http://library.uoregon.edu">
          <%= image_tag "uolib_white.gif" %>
        </a>
      </div>
      <div class="col-xs-6">
        <a href="http://library.oregonstate.edu">
          <%= image_tag "osulib_white.gif" %>
        </a>
      </div>
    </div>
    <div class="black row links">
      <div class="col-xs-3">
        <a class="white" href="https://oregondigital.org/contact"> Contact Us </a>
      </div>
      <div class="col-xs-3">
        <a class="white" href="https://oregondigital.org/copyright"> Copyright </a>
      </div>
      <div class="col-xs-3">
        <%= link_to "Help", help_path  %>
      </div>
      <div class="col-xs-3">
        <%= link_to "About Us", about_index_path %>
      </div>
    </div>
  </div>
</div>
