<footer id="dynamicFooter" class="footer" align="center">
  <a align="center" href="https://oregondigital.org/contact"> Contact Us </a> |
  <a align="center" href="https://oregondigital.org/copyright"> Copyrights </a>
</footer>
