<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container extend">
    <div class="navbar-header extend">
      <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="row">
        <button onclick="toggleGlyphicon()" type="button" id="button" class="btn btn-default button-settings">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <div class="col-md-3">
          <a href="/">
            <%= image_tag "BO_Horizontal_White-04.svg", :class => "logo-size" %>
          </a>
        </div>
        <div id="search-bar" class="col-md-6 col-xs-12 col-sm-12 ">
          <%= render_search_bar %>
        </div>
        <div class="col-md-2 collapse navbar-collapse" id="user-util-collapse">
          <%= render :partial=>'/user_util_links' %>
        </div>
      </div>
    </div>
  </div>
</div>
