<h1>Contact</h1>
<div class="container">
  <div class="row">
    <div class='column-settings-12-9'>
      <br>
      <%= simple_form_for @contact, :url => contact_path do |f| %>
        <%= f.input :email %>
        <%= f.input :message, :as => :text, :input_html => {:rows => 10, :cols => 100}  %>
        <%= f.button :submit, "Submit" %>
      <% end %>
    </div>
  </div>
</div>
