<% # the way each document will be viewed in the sidebar list -%>
<div class='panel panel-default'>
  <div class='panel panel-heading'>
    <h1>
      <%= link_to_document document %>
    </h1>
  </div>
  <div class="panel panel-body">
    <% #add anything to display in the sidebar here %>
    <p>Creator: <%#= document[:desc_metadata__creator_ssim].first %></p>
    <p>Description: <%#= document[:desc_metadata__description_ssim].first %></p>
  </div>
</div>
