<% # the way each document will be viewed in the sidebar list -%>
<li class='media'>
  <div class='media-body'>
    <h1 class='media-heading'>
      <%= link_to_document document %>
    </h1>
    <% #add anything to display in the sidebar here %>
  </div>
</li>
