<div class="row">
  <dl class="document-metadata dl-horizontal dl-invert">
    <div class="col-md-2 col-sm-2">
      <img class="thumbnail" src='<%= document.photo_path %>'>
    </div>
    <div class="col-md-10 col-sm-10">
      <%= render :partial => "index_fields", :locals => {document:document} %>
    </div>
  </dl>
</div>
