<% if @response.total_pages > 1 %>
 <div class="row record-padding">
  <div class="col-md-9"> 
    <div class="pagination">
      <%= paginate @response, :window => 1, :theme => 'blacklight' %>
    </div>
  </div>
 </div>
<% end %>
