@media(min-width: 992px) {
  #document.document {
    z-index: 100000;
    margin-right: -150px;
    margin-left: 150px;
  }
}
.contact_email_email {
  padding-left: 23px;
}
#sidebar > .facets {
  border-radius: 6px;
  background-color: #f5dbb2;
  padding: 0px;
  margin-top: 30px;
  border: 1px solid #d4d4d4;
}
.show-tools {
  .panel-heading {
    background-color: #f5dbb2;
  }
}
#facets {
  padding: 0px;
  .top-panel-heading {
    margin-bottom: 0px;
  }
}
.top-panel-heading {
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}
.panel-heading {
  margin-bottom: 0px;
}
.panel-group {
  margin-bottom: 0px;
  margin-top: 0px;
}
#facet-panel-collapse {
  .panel-heading:hover{
    background-color: #d4d4d4;
  }
}
.facet_limit.panel-default > .panel-heading.collapse-toggle.collapsed {
  background-color: white;
  color: black;
}
.panel-group .panel + .panel {
  margin-top: 0px;
}
.in#facet-panel-collapse {
  overflow-y: visible;
}
@media(min-width: 768px) and (max-width: 991px) {
  #main-container.container {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  #content {
    width: 100%;
  }
  #jPanelMenu-menu > .top-panel-heading {
    margin-top: -10px;
    padding-top: 5px;
    background-color: #f5dbb2;
    text-align: center;
  }
}
