.links {
  p{
    color: white; 
  }
  a {
    color: white;
  }
}
.links a:hover {
  color: #f5dbb2; 
}


#dynamicFooter {
  .links {
    text-align: center;
  }
  .logos {
    *:first-child {
      padding-top: 3px;
      text-align: left;
    }
    *:last-child {
      padding-top: 8px; 
      text-align: right;
    }
  }
}
@media(max-width: 992px) {
  .logos {
    *:first-child a{
      display: none;
    }
    *:last-child a{
      display: none;
    }
    margin-top: 36px;
  } 
  .left {
    float: left;
  }
}

