#document img {
  width: 100%;
}

.thumbnail {
  width: 150px;
  height: 150px;
  display: block;
}

.document-metadata > .fit-screen {
  padding-right: 25px;
}

@media(min-width: 992px) {
  .document-metadata > .fit-screen {
    margin-left: -100px;

    dd {
      width: 65%;
    }
  }
}
