.navbar li {
  display: inline;
  padding-left: 5px;
}
#search_field {
  display: none;
}
.navbar ul {
  padding-left: 0px;
}
.navbar a{
  color: white;
}
.navbar-head {
  text-align:right;
  padding-top: 30px;
}
#header-navbar {
  background-color: #144651;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#user-util-collapse {
  display: none !important;
}
#content {
  h1 {
    margin-top: 20px;
  }
}
.navbar-brand {
  margin-top: 15px;
}
.search-query-form {
  margin-top: 35px;
  border-top: 0px;
  border-bottom: 0px;
}
form {
  border-color: #144651;
}
.navbar-inverse .navbar-toggle {
  border-color: white;
}
.move-down{
  margin-top: 4px
}
.black{
  background-color: black;
}
.logo-size {
  height:100px;
  width: 300px;
}

@media(min-width: 1200px) {
  .cite-navbar {
    margin-right: -40px;
    margin-left: 10px;
  }
  .navbar-form .form-control {
    width: 89%;
  } 
  .logo-size {
    top: 10%;
    left: 50%;
    position: absolute;
    margin-left: -150px !important;
  }
  .logo-size {
    height:100px;
    width: 300px !important;
  }  
}

@media(min-width: 992px){
  #button{
    display: none;
  }
  .row > .navbar-collapse {
    margin-left: 20px;
  }
  #search-navbar {
    margin-top: 2px;
  }
  .logo-size {
    top: 10%;
    left: 50%;
    position: absolute;
    margin-left: -120px;
    width: 240px;
  }
  .navbar-header {
    width: 100%;
  }
  #search-navbar .search-query-form {
    width: 100%;
  }
  .navbar-form .form-control {
    width: 87%;
  }
  select#search_field.search_field.form-control {
    width: 100px;
  }
  .input-group {
    width: 100%;
  }
}

@media(max-width: 991px){
  #header-navbar > .container {
    margin-left: 0px;
    margin-right: 0px;
    height: 125px !important; 
  } 
  .navbar-inverse .navbar-form { 
    margin-top: 15px;
    margin-left: 13px;
    margin-right: 9px;
  }
  .search-query-form {
    border-top: 0px;
    border-bottom: 0px;
  }
  #content > h1{
    display: none;
    margin-top: 0px;
  }
  .navbar-toggle {
    display: none;
  }
  .button-settings {
    background-color: #144651;
    border-color: white;
    color: white;
    height: 40px;
    width: 40px;
    margin: 30px 0px 10px 43px;
    float: left;
  }
  .glyphicon-chevron-right {
    font-size: 15px;
  }
  .logo-size {
    top: 5%;
    left: 50%;
    position: absolute;
    margin-top: 5px;
    margin-left: -150px;
    height: 80px;
  }
  #facets {
    display: none;
  }
  .extend {
    width: 100%;
  }
  #header-navbar > .container {
    height: 150px;
  }
  #search-navbar {
    margin-top: -20px;
    margin-bottom: -20px;
  }
  .input-group {
    width: 100%;
  }
  .search-query-form {
    width: 100%;
    margin-top: 0px;
  }
  .navbar-form .form-control {
    width: 70%;
  }
  select#search_field.search_field.form-control {
    width: 100px;
  }
}
@media(max-width: 686px) {
  .navbar-form .form-control {
    width: 55%;
  }
}

@media(max-width: 480px) {
  select#search_field.search_field.form-control {
    width: 100px;
  }
  .glyphicon-chevron-right {
    margin-left: -5px;
  }
  .glyphicon-chevron-left {
    margin-left: -5px;
  }
  #button {
    width: 30px;
    height: 30px;
    margin-top:8px;
    margin-left: 27px;
  }
  #header-navbar > .container {
    height: 100px !important;
  }
  .navbar-form .form-control {
    width: 85%;
  }
  .logo-size {
    margin-left: -85px;
    width: 175px;
    margin-top: -15px;
  }
}
