mnavbar li {
display: inline;
padding-left: 5px;
}
.navbar ul {
  padding-left: 0px;
}
.navbar a{
  color: white;
}
.navbar-head {
  text-align:right;
  padding-top: 30px;
}
#header-navbar {
  background-color: #144651;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#content {
  h1 {
    margin-top: 20px;
  }
}
.navbar-brand {
  margin-top: 15px;
}
.search-query-form {
  margin-top: 35px;
  border-top: 0px;
  border-bottom: 0px;
}
form {
  border-color: #144651;
}
.navbar-inverse .navbar-toggle {
  border-color: white;
}
.move-down{
  margin-top: 10px
}
.black{
  background-color: black;
  height: 45px;
}
.logo-size {
  height:100px;
  width: 300px;
}

@media(min-width: 992px) and (max-width: 1680px){
  #button{
    display: none;
  }
  .logo-size {
    top: 10%;
    left: 50%;
    position: absolute;
    margin-left: -150px;
  }
  #user-util-collapse {
    width: 250px;
    padding-left: 0px;
  }
}

@media(min-width: 480px) and (max-width: 991px){
  #header-navbar > .container {
    margin-left: 0px;
    margin-right: 0px; 
  } 
  .navbar-inverse .navbar-form { 
    margin-top: 15px;
    margin-left: 13px;
    margin-right: 9px;
  }
  .search-query-form {
    border-top: 0px;
    border-bottom: 0px;
  }
  #content > h1{
    display: none;
    margin-top: 0px;
  }
  .navbar-toggle {
    display: none;
  }
  .button-settings {
    background-color: #144651;
    border-color: white;
    color: white;
    height: 40px;
    width: 40px;
    margin: 40px 0px 0px 43px;
    float: left;
  }
  .glyphicon-chevron-right {
    font-size: 15px;
  }
  .logo-size {
    top: 10%;
    left: 50%;
    position: absolute;
    margin-top: 5px;
    margin-left: -150px;
  }
  #user-util-collapse {
    display: none !important;
  }
  #facets {
    display: none;
  }
  .extend {
    width: 100%;
  }
  #header-navbar > .container {
    height: 150px;
  }
  .input-group {
    width: 100%;
  }
  .search-query-form {
    width: 100%;
  }
  .navbar-form .form-control {
    width: 70%;
  }
  select#search_field.search_field.form-control {
    width: 100px;
  }
}
@media(max-width: 686px) {
  .navbar-form .form-control {
    width: 55%;
  }
}
