.navbar li {
  display: inline;
  padding-left: 20px;
}
.navbar a{
  color: white;
}
.navbar-head {
  text-align:right;
  padding-top: 30px;
}
#header-navbar {
  background-color: #144651;
  padding-bottom: 0px;
}
.navbar-brand {
  margin-top: 15px;
}
.search-query-form {
  margin-top: 35px;
}
.move-down{
  margin-top: 10px
}
.black{
  background-color: black;
  height: 45px;
}
.logo-size {
  padding-top: 5px;
  margin-left: -40px;
  height:115px;
  width: 200px;
}
